.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  /*ниже позиция фигуры отодвинута на самый нижний по оси z*/
  z-index: -2;
}
