.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*ниже сброшены заданные браузером внешние отступы тега <blockquote> и задан верхний внешний отступ*/
  margin: 50px 0 0;
}
