.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  /*выше установлена позиция блока, относительно которой далее абсолютно позиционирован логотип, подзаголовок и иллюстрации*/
  padding-left: 64px;
  display: flex;
  align-items: center;
  /*ниже отсечена торчащая часть квадратной фигуры, образующаяся на маленьких экранах*/
  overflow: hidden;
  /*ниже позиция блока поставлена на самый верхний слой по оси z*/
  z-index: 1;
  /*ниже выставлен стиль блочной модели блока - размер блока по его границам*/
  box-sizing: border-box;
 }
