.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  /*ниже сброшены заданные браузером внешние отступы и задан внешний верхний отступ*/
  margin: 10px 0 0;
}
