.feynman__subtitle {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  /*ниже сброшены заданные браузером внешние отступы*/
  margin: 0;
}
